@model IEnumerable<ProiectPS.Models.Asigurare>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proprietar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataValabilitate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Durata)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proprietar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataValabilitate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Durata)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NrInmatriculare }) |
            @Html.ActionLink("Details", "Details", new { id=item.NrInmatriculare }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NrInmatriculare })
        </td>
    </tr>
}

</table>
