@model IEnumerable<MvcTema2.Models.Spectacol>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titlul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Regia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distributia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Premiera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrBilete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titlul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Regia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distributia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Premiera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrBilete)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Titlul }) |
            @Html.ActionLink("Details", "Details", new { id=item.Titlul }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Titlul })
        </td>
    </tr>
}

</table>
