@model MvcTema2.Models.Bilet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bilet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Spectacol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
