@model IEnumerable<ProiectPS.Models.Proprietar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cnp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cnp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cnp }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cnp }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cnp })
        </td>
    </tr>
}

</table>
